.dropdown {
  position: absolute;
  z-index: 5;

  &.top {
    left: 50%;
    top:0;
    transform: translate(-50%, 0);
  }

  &.bottom {
    left: 50%;
    bottom:0;
    transform: translate(-50%, 0);
  }

  & .item {
      background-color: #c1c1c1;
      padding: 7px;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid #9f9a9a;
    }
  }
}

